[DEVICE]
Name=ATMEGA32
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_DALI_2_AVR.c
[HEADERS]
Count=3
File0=Click_DALI_2_config.h
File1=Click_DALI_2_types.h
File2=Click_DALI_2_timer.h
[PLDS]
Count=1
File0=Click_DALI_2.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=DALI_2_AVR_LT
File4=easyavr_v7_ATMEGA32
File5=//SPI
File6=//TWI
Count=7
