[DEVICE]
Name=MK64FN1M0XXX12
Clock=120000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_DALI_2_KINETIS.c
[HEADERS]
Count=3
File0=Click_DALI_2_config.h
File1=Click_DALI_2_types.h
File2=Click_DALI_2_timer.h
[PLDS]
Count=1
File0=Click_DALI_2.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=DALI_2_MK_M4
File4=docking_station_HEXIWEAR
File5=//SPI
File6=//I2C
Count=7
