[DEVICE]
Name=P32MX795F512L
Clock=80000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_DALI_2_PIC32.mbas
File1=Click_DALI_2_config.mbas
File2=Click_DALI_2_types.mbas
File3=Click_DALI_2_timer.mbas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_DALI_2.pld
[Useses]
File0=UART
File1=Conversions
File2=String
File3=DALI_2_P32MX
File4=easypicfusion_v7_P32MX795F512L
File5=//SPI
File6=//I2C
Count=7
