[DEVICE]
Name=STM32F107VC
Clock=72000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_DALI_2_STM.mpas
File1=Click_DALI_2_config.mpas
File2=Click_DALI_2_types.mpas
File3=Click_DALI_2_timer.mpas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_DALI_2.pld
[Useses]
File0=UART
File1=Conversions
File2=String
File3=DALI_2_STM32_M3
File4=easymx_v7_STM32F107VC
File5=//SPI
File6=//I2C
Count=7
